/* General Styling */
:root {
  --padding-large: 40px;
  --padding-small: 20px;
  --font-size-large: 1.4rem;
  --font-size-small: 1rem;
}

/* Container and Basic Styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0d;
  color: #f5f5f5;
  padding: var(--padding-large) 20px;
  font-family: "Segoe UI", sans-serif;
  max-width: 100%; /* Prevents overflow */
  overflow-x: hidden; /* Hides any potential overflow */
  box-sizing: border-box;
}

.mailListCardHeader {
  font-size: var(--font-size-large);
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {

  .mailListCardHeader {
    font-size: 1.2rem;
  }

}